#background{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.9;
}
.content{
    margin-top: 100px;
}
#heading{
    font-weight: bold;
    text-align: center;
}
#awxWeatherInfo{
    color: deepskyblue;
    font-size: ;
    text-align: center;
}
p{
    text-align: center;
    font-size: 15px;
}
img,button{
    display: block;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
}
.blue{
    border: 1px single;
    border-color: blue;
}
.tips{
    margin-top: 50px;
}
#humidity{
    display: block;
    font-size: 15px;
    text-align: center;
    color: deepskyblue;
    font-weight: bold;
}
.form-input{
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid;
    border-color: deepskyblue;
    background-color: lightblue;
}